In [5]:
import pandas as pd
import os

In [6]:
os.getcwd()

'/Users/noor/Documents/GitHub/Happiness-Without_Borders'

In [9]:
big5 = pd.read_csv('big_five_scores.csv')
big5

,case_id,country,age,sex,agreeable_score,extraversion_score,openness_score,conscientiousness_score,neuroticism_score
0,1,South Afri,24,1,0.753333,0.496667,0.803333,0.886667,0.426667
1,3,UK,24,2,0.733333,0.680000,0.786667,0.746667,0.590000
2,4,USA,36,2,0.880000,0.770000,0.860000,0.896667,0.296667
3,5,UK,19,1,0.690000,0.616667,0.716667,0.636667,0.563333
4,6,UK,17,1,0.600000,0.713333,0.646667,0.633333,0.513333
...,...,...,...,...,...,...,...,...,...
307308,334156,USA,22,2,0.750000,0.556667,0.733333,0.766667,0.643333
307309,334157,USA,22,1,0.600000,0.620000,0.566667,0.650000,0.586667
307310,334158,USA,22,2,0.820000,0.716667,0.753333,0.723333,0.526667
307311,334160,Slovakia,36,1,0.516667,0.670000,0.783333,0.566667,0.493333
307312,334161,Australia,35,2,0.866667,0.900000,0.956667,0.710000,0.440000

In [14]:
df_gene = pd.read_csv('Raw Data/allele frequency 5-HTTLPR.csv')
df_gene

       Country  Year     N     ss     sl     ll     s     l
0    Argentina  2007   172   45.0   77.0   50.0   167   177
1    Argentina  2008  1329  365.0  651.0  313.0  1381  1277
2      Austria  2001    26    4.0    9.0    3.0    17    15
3      Austria  2002    45    4.0   10.0   10.0    18    30
4      Austria  2004    76   16.0   38.0   22.0    70    82
..         ...   ...   ...    ...    ...    ...   ...   ...
442        USA  2010   188   39.0   86.0   62.0   164   210
443        USA  2010   185   40.0   53.0   25.0   133   103
444        USA  2010   151   34.0   88.0   29.0   156   146
445        USA  2011    84   18.0   39.0   27.0    75    93
446        USA  2011   225   50.0  108.0   67.0   208   242

[447 rows x 8 columns]

In [21]:
type(df_gene['Year'])

pandas.core.series.Series

In [22]:
sortedYearGene_df = df_gene.sort_values(by='Year')

In [28]:
print('year range:', sortedYearGene_df['Year'].min(), sortedYearGene_df['Year'].max())

year range: 1996 2011

In [30]:
df_migration = pd.read_csv('Raw Data/migration-flows.csv')
df_migration

,Year,Country,Emigrants from Afghanistan,Immigrants to Afghanistan,Emigrants from Albania,Immigrants to Albania,Emigrants from Algeria,Immigrants to Algeria,Emigrants from American Samoa,Immigrants to American Samoa,...,Emigrants from Zimbabwe,Immigrants to Zimbabwe,cotedivoire_destination,micronesiacountry_destination,saintmartinfrenchpart_destination,sintmaartendutchpart_destination,cotedivoire_origin,micronesiacountry_origin,saintmartinfrenchpart_origin,sintmaartendutchpart_origin
0,1990,Afghanistan,-7679582.0,57686.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1,1995,Afghanistan,-4347049.0,71522.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
2,2000,Afghanistan,-4750677.0,75917.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
3,2005,Afghanistan,-4116739.0,87314.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
4,2010,Afghanistan,-5269518.0,102276.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,2000,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-351985.0,410109.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1655,2005,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-500773.0,402226.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1656,2010,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-754643.0,398307.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1657,2015,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1167064.0,400482.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1658,2020,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1243314.0,416141.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN

In [40]:
df_migration = pd.read_csv('Raw Data/migration-flows.csv')
df_migration

,Year,Country,Emigrants from Afghanistan,Immigrants to Afghanistan,Emigrants from Albania,Immigrants to Albania,Emigrants from Algeria,Immigrants to Algeria,Emigrants from American Samoa,Immigrants to American Samoa,...,Emigrants from Zimbabwe,Immigrants to Zimbabwe,cotedivoire_destination,micronesiacountry_destination,saintmartinfrenchpart_destination,sintmaartendutchpart_destination,cotedivoire_origin,micronesiacountry_origin,saintmartinfrenchpart_origin,sintmaartendutchpart_origin
0,1990,Afghanistan,-7679582.0,57686.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1,1995,Afghanistan,-4347049.0,71522.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
2,2000,Afghanistan,-4750677.0,75917.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
3,2005,Afghanistan,-4116739.0,87314.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
4,2010,Afghanistan,-5269518.0,102276.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1654,2000,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-351985.0,410109.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1655,2005,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-500773.0,402226.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1656,2010,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-754643.0,398307.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1657,2015,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1167064.0,400482.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN
1658,2020,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1243314.0,416141.0,NaN,0,NaN,NaN,NaN,0,NaN,NaN